$margin : 20px;
$padding : 15px;
$max-width : 450px;
$min-height : 35px;
$font-h1 : 25px;
$font-h2 : 18px;

$radius-L : 20px;
$radius : 14px;
$radius-s : 10px;
$solid-size : 2px;

$aliceblue : aliceblue;
$black : black;
$antique : antiquewhite;
$blue : blue;
$darkblue : darkblue;

$three : 3;
$two : 2;
$one : 1;